// Color Assignments
$layout-app-background-color: $brand-light;
$layout-header-background-color: $brand-light;
$layout-footer-background-color: $brand-primary;
$banner-background-color: $greyscale-lightest;

$text-color-primary: $brand-primary;
$text-color-dark: $brand-dark;
$text-color: $brand-dark;
$text-color-light: $text-light;

// App
$appWidth: 1200px;

// Spacings
$baseSpacing: 6;

// Text
$textBiggest: ($baseSpacing*8) * 1px;
$textBig: ($baseSpacing*4) * 1px;
$textBase: 16px;
$textBaseSmall: 14px;
$textSmallest: ($baseSpacing*2) * 1px;

// Transitions
$navLinkHeight: 2px;
$labelColor: $brand-light;
$labelTransitionDuration: 0.4s;
$labelEasing: cubic-bezier(0.33, 1, 0.68, 1);
$imageOpacity: 0.6;
$imageTransitionDuration: 0.6s;

*, *:before, *:after {
	box-sizing: border-box;
}

html {
    background-color: $layout-app-background-color;
	position: relative;
    height: 100%;
}

body {
	color: $text-color;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

// native elements

p {
    line-height: 1.6;
}

.code {
    display: inline-block;
    margin: auto;
    padding: ($baseSpacing * 3px);
    background-color: $greyscale-darkest;
    border-radius: 4px;
}

// Layout

.app {
	position: relative;
	height: 100%;
    padding-top: 154px;
    
    .heading {
        margin: 0 0 ($baseSpacing * 3px) 0;
        text-align: center;
        font-size: 42px;
        color: $text-color;
	}

    .sub-heading {
        font-weight: bold;
        color: $text-color;
    }

	.top-bar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $layout-header-background-color;
        z-index: 999;
	}

    .top-cta {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: ($baseSpacing * 2px); 
        background-color: $brand-primary;
        text-align: center;
        
        .link {
            color: $brand-light;
            text-decoration: underline;
        }

        p {
            margin: auto;
            color: $brand-light;
        }
    }

	.top-nav {
		position: relative;
		display: flex;
		align-items: center;
		height: 100%;
		max-width: $appWidth;
        margin: 0 auto; 
		padding: ($baseSpacing * 5px) 40px;        
	}

	.logo {
        width: 100px;
		text-decoration: none;
		color: $brand-primary;		
		font-size: $textBig;
		font-weight: bold;
	}

	.nav {
		margin: 55px 0 0 auto;		
		display: flex;		

		.link {			
			position: relative;	
			margin: 0 0 0 ($baseSpacing*5px);
			padding: 12px 0;
			text-decoration: none;
			color: $text-dark;
			display: flex;
            align-items: center;
            
            &.active {
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: $navLinkHeight;
                    width: 100%;
                    background-color: $brand-primary;
                    transform: scaleX(1);
                }
            }

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				height: $navLinkHeight;
				width: 100%;
				background-color: $brand-primary;
				transform: scaleX(0);
				transition: transform 0.2s ease;
			}

			&:hover {
				&::after {
					transform: scaleX(1);
				}
			}
		}
	}
	
	.container {	
		max-width: $appWidth;
        margin: auto;    
	}

	.hero {
        margin-top: 80px;
        padding: ($baseSpacing * 6px) 0;
        
        .content {
            display: inline-block;
            width: 50%;

            &.main {
                width: 60%;
            }

            &.lesser {
                width: 40%;
            }
        }

		.heading {
            color: $greyscale-darkest;
			text-align: left;
			font-size: 48px;
		}

		.description {
			position: relative;
			max-width: 480px;
			line-height: 1.4;
		}

        .button {
            display: inline-block;
            margin-right: ($baseSpacing * 3px);
        }
	}

    .badges {
        margin-top: ($baseSpacing * 5px);

        .badge {
            margin-top: ($baseSpacing * 2px);
            margin-right: ($baseSpacing * 2px);
            height: 22px;
        }
    }

    .content-block {
        margin: 40px 0;
        
        img {
            border: 1px solid #f2f1f1;
        }
    }

    .code-block {
        display: block;
        text-align: center;
    }

    .footer {
        background-color: $layout-footer-background-color;
        padding: ($baseSpacing * 8px);
        text-align: center;

        .heading {
            text-align: left;
            font-size: 18px;
            font-weight: bold;
            color: $brand-light;
        }

        .link {
            display: block;
            margin: ($baseSpacing * 3px) 0;
            text-align: left;
            color: $brand-light;
            font-size: 14px;
        }

        .logo {
            display: block;
            width: 200px;
        }
    }
}

/* components */

.button {
    padding: ($baseSpacing * 3px) ($baseSpacing * 4px);
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;

    img {
        width: 30px;
        margin-left: ($baseSpacing * 2px);
    }
}

.note {
    display: inline-block;
    width: auto;
    padding: ($baseSpacing * 1px) ($baseSpacing * 2px);
    background-color: $brand-light;
    border: 2px solid $brand-primary;
    border-radius: 4px;
}

.star-counter {
    position: relative;
    background-color: $brand-light;
    padding: ($baseSpacing * 1px) ($baseSpacing * 2px) ($baseSpacing * 1px) ($baseSpacing * 6px);
    border-radius: 2px;
    border: 2px solid $brand-primary;
    color: $brand-primary;
    cursor: pointer;

    &::after, &::before {
        content: "";
        position: absolute;
        display: inline-block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
    }

    &::before {
        content: "\2605";
        top: 4px;
        left: ($baseSpacing * 1px);
    }

    &::after {
        top: 50%;
        left: -5px;
        z-index: -1;
        margin-top: -5px;
        border-width: 5px 5px 5px 0;
        border-right-color: $brand-primary;
    }   
}

.banner {
    padding: 80px 0;
    background-color: $banner-background-color;
}

/* pages */

@media (max-width: $breakpoint-small) {
    .app {

        .top-nav {
            padding: ($baseSpacing * 2px);
        }

        .logo {
            width: 80px;
        }

        .footer {
            .logo {
                width: 160px;
            }
        }
    }
}
