$brand-primary: #E32212;
$brand-dark: #040404;
$brand-light: #FFFFFF;

$greyscale-darkest: #1c1d21;
$greyscale-dark: #7A7A7A;
$greyscale-light: #ebebeb;
$greyscale-lightest: #eaedf1;

$functional-success: #5FED5C;
$functional-warning: #FFEA2D;
$functional-error: #FF6464;
$functional-highlight: #1298E3;

$text-dark: #202124;
$text-base: #202124;
$text-light: #B8B8B8;

$icons: #202124;