@font-face {
  	font-family: "Nunito Sans";
  	src: url('./fonts/NunitoSans/NunitoSans-Regular.ttf');
  	font-weight: normal;
}

@font-face {
	font-family: "Nunito Sans";
	src: url('./fonts/NunitoSans/NunitoSans-ExtraBold.ttf');
	font-weight: bold;
}