<footer class="footer">
	<div class="container">
		<div class="uk-container uk-margin-medium"></div>
			<div class="uk-child-width-expand@s uk-grid" uk-grid>
				<div>
					<h4 class="heading">YData</h4>
					<a href="#" class="link">Documentation</a>
					<a href="#" class="link">Blog</a>
					<a href="#" class="link">Link 3</a>
				</div>
				<div>
					<h4 class="heading">Where to Find Us</h4>
					<a href="#" class="link">Github</a>
					<a href="#" class="link">Slack</a>
					<a href="#" class="link">How to Contribute</a>
				</div>
				<div>
					<h4 class="heading">More Links</h4>
					<a href="#" class="link">Link 1</a>
					<a href="#" class="link">Link 2</a>
					<a href="#" class="link">Link 3</a>
				</div>
			</div>
		</div>
	</div>
</footer>
