<footer class="footer">
	<div class="container">
		<div class="uk-container uk-margin-medium"></div>
			<div class="uk-child-width-expand@s uk-grid" uk-grid>
				<div>
					<h4 class="heading">Some cool resources to guide you</h4>
					<a href="https://towardsdatascience.com/what-is-going-on-with-my-gan-13a00b88519e" target="_blank" class="link">"What is going on with my GAN"</a>
					<a href="https://towardsdatascience.com/synthetic-time-series-data-a-gan-approach-869a984f2239" target="_blank" class="link">"Synthetic Time-Series Data: A GAN approach"</a>
                    <a href="https://towardsdatascience.com/how-to-generate-synthetic-tabular-data-bcde7c28038a" target="_blank" class="link">"How to generate synthetic tabular data?"</a>
				</div>
				<div>
					<h4 class="heading">Where to find us</h4>
                    <a href="https://ydata.ai/resources" target="_blank" class="link">Blog</a>
					<a href="https://github.com/ydataai/ydata-synthetic" target="_blank" class="link">Github</a>
					<a href="http://slack.ydata.ai/" target="_blank" class="link">Slack</a>
				</div>
				<div>
                    <h4 class="heading">Powered by</h4>
                    <a href="https://ydata.ai/" target="_blank"><img src="./assets/images/YData-white.png" class="logo" alt="YData"></a>
				</div>
			</div>
		</div>
	</div>
</footer>
