<div class="top-bar">
    <header class="header top-nav">
        <a href="/" class="logo"><img src="./assets/images/logo.png" alt="logo"></a>
        <nav class="nav">
            <a href="https://medium.com/ydata-ai" target="_blank" class="link"><span class="label">Blog</span></a>
            <a href="https://github.com/ydataai/ydata-synthetic" target="_blank" class="link"><span class="label">Github</span></a>
            <a href="http://slack.ydata.ai/" target="_blank" class="link"><span class="label">Slack</span></a>
        </nav>        
    </header>
    <div class="top-cta">
        <p>Greetings! More questions about synthetic data? Join us on <a href="http://slack.ydata.ai/" target="_blank" class="link">Slack</a>.</p>
    </div>
</div>