<div class="top-bar">
    <header class="header top-nav">
        <a href="/" class="logo"><img src="./assets/images/logo.png" alt="logo"></a>
        <nav class="nav">
            <a href="https://github.com/ydataai/ydata-synthetic" target="_blank" class="link"><span class="label">Github</span></a>
            <a href="https://discord.gg/mw7xjJ7b7s" target="_blank" class="link"><span class="label">Discord</span></a>
        </nav>        
    </header>
    <div class="top-cta">
        <p>Greetings! More questions about synthetic data? Join us on <a href="https://discord.gg/mw7xjJ7b7s" target="_blank" class="link">Discord</a>.</p>
    </div>
</div>