<div class="top-bar">
    <header class="top-nav">
        <a href="/" class="logo"><img src="/assets/images/ydata-logo-dark.png" alt="logo"></a>
        <nav class="nav">
            <a href="/" class="link"><span class="label">Home</span></a>
            <a href="/example-page.html" class="link"><span class="label">Documentation</span></a>
            <a href="/example-page.html" class="link"><span class="label">Github</span></a>
            <a href="/example-page.html" class="link"><span class="label">Slack</span></a>
        </nav>
    </header>
</div>