<!DOCTYPE html>
{% include head.html %}

<body>
	<div class="app home">
		
        {% include header.html %}

		<div class="uk-container uk-margin-medium">
			<div class="uk-child-width-expand@s uk-text-center uk-grid" uk-grid>
				<div>
					<div class="uk-card uk-card-default uk-card-body uk-height-medium uk-flex uk-flex-middle uk-flex-center">Item</div>
				</div>
			</div>
		</div>

		<div class="uk-container">
			<h1 class="uk-text-large">My Heading</h1>
		</div>
		
		<div class="uk-container uk-margin-medium">
			<div class="uk-child-width-expand@s uk-text-center uk-grid" uk-grid>
				<div>
					<div class="uk-card uk-card-default uk-card-body">Item</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-body">Item</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-body">Item</div>
				</div>
			</div>
			<div class="uk-child-width-expand@s uk-text-center uk-grid" uk-grid>
				<div>
					<div class="uk-card uk-card-default uk-card-body">Item</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-body">Item</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-body">Item</div>
				</div>
			</div>
		</div>

		<div class="uk-container">
			<h1 class="uk-text-large">My Heading</h1>
		</div>
		
		<div class="uk-container uk-margin-medium">
			<div class="uk-child-width-expand@s uk-text-center uk-grid" uk-grid>
				<div>
					<div class="uk-card uk-card-default uk-card-body">Item</div>
				</div>
			</div>
		</div>
		<div class="uk-container uk-margin-medium">
			<div class="uk-child-width-expand@s uk-text-center uk-grid" uk-grid>
				<div>
					<div class="uk-card uk-card-default uk-card-body">Item</div>
				</div>
			</div>
		</div>
		<div class="uk-container uk-margin-medium">
			<div class="uk-child-width-expand@s uk-text-center uk-grid" uk-grid>
				<div>
					<div class="uk-card uk-card-default uk-card-body">Item</div>
				</div>
			</div>
		</div>
		<div class="uk-container uk-margin-medium">
			<div class="uk-child-width-expand@s uk-text-center uk-grid" uk-grid>
				<div>
					<div class="uk-card uk-card-default uk-card-body">Item</div>
				</div>
			</div>
		</div>

		{% include footer.html %}
	</div>
</body>
{% include scripts.html %}
</html>