<!DOCTYPE html>
{% include head.html %}

<body>
	<div class="app home">
		
		{% include header.html %}

		<div class="container">
			<div class="uk-container uk-margin">
				<div class="hero">
					<div class="content main">
						<h1 class="heading">Welcome to<br>Synthetic Data's Community </h1>
						<p>The process of building datasets is now much faster and cheaper with automated preprocessing, labelling and synthetic data generation.</p>
						<button class="button uk-button-primary">Join us on Github</button>
						<span id="star-counter" class="star-counter">0</span>
						<p><span class="note">We're open source. Get involved!</span></p>
					</div>
					<div class="content lesser">

					</div>
				</div>
			</div>
		</div>
		<div class="banner">
			<div class="container">
				<div class="uk-container">
					<h2 class="heading">Key Features - fix(overview)</h2>
				</div>
			</div>
			<div class="container">
				<div class="uk-container uk-margin-medium">
					<div class="uk-child-width-expand@s uk-grid" uk-grid>
						<div class="content-block">
							<h3 class="sub-heading">Faster access to sensitive data</h3>
							<p>Data Synthesization allows data scientists to have faster access to data that used to require a full privacy compliance process only for accessing it.</p>
							<p>Optimize the allocation of your resources and teams.</p>
							<p>Your data scientists time will be invested in the faster and better development of models that are crucial for the business.</p>
						</div>
						<div class="content-block">
							<div class="uk-card uk-card-default uk-card-body uk-height-medium uk-flex uk-flex-middle uk-flex-center"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="uk-container uk-margin-medium">
					<div class="uk-child-width-expand@s uk-grid" uk-grid>
						<div class="content-block">
							<div class="uk-card uk-card-default uk-card-body uk-height-medium uk-flex uk-flex-middle uk-flex-center"></div>
						</div>
						<div class="content-block">
							<h3 class="sub-heading">Improve your return on investment</h3>
							<p>Data Synthesization allows data scientists to have faster access to data that used to require a full privacy compliance process only for accessing it.</p>
							<p>Optimize the allocation of your resources and teams.</p>
							<p>Your data scientists time will be invested in the faster and better development of models that are crucial for the business.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		{% include footer.html %}
	</div>
</body>
{% include scripts.html %}
</html>